
<!-- Loop over each object in the propertys array -->
{{#each properties as |property| }}
<div class="row mb-4 property">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/property/{{property.id}}">{{property.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount property.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{property.user.name}} on {{format_date property.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{property.description}}
    </p>
  </div>
</div>
{{/each}}