<div>
              <form class="form-group" role="form">
                <div class="form-group col-xs-4 col-md-4">
                    <label for="selectproperty1">Select Property {{number}}</label>
                    <select class="form-control" id="selectproperty1">
                      <option>{{ Property 1 }}</option>
                      <option>{{ Property 2}}</option>
                      <option>{{ Property 3}}</option>
                      <option>{{ Property 4}}</option>
                      <option>{{Property 5}}</option>
                    </select>
                    <button class="btn btn-outline-secondary my-3" type="button">Select This Property</button>
                    </div>
                </div>